
.headerpart3 {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.headerpart3 p {
    margin: 0;
    width: 171px;
    text-align: center;
}

#left, #right {
    background-color: white;
    padding: 5px 50px 5px 50px;
}

#numbersDiv div:hover {
    background-color: beige;

}







